extend layout

block content
  form(action="/charge", method="POST", id="stripe-form")
    script(
      src="https://checkout.stripe.com/checkout.js", class="stripe-button",
      data-key="pk_test_VIz5FWd9cTARwSyUUxSx1Mnj",
      data-image="/square-image.png",
      data-name="Demo Site",
      data-description="2 widgets ($20.00)",
      data-amount="2000" )